@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

:root {
  --clr-tiffany-blue: #a9ddd6;
  --clr-stale-gray: #7a8b99;
  --clr-cadet-gary: #91adc2;
  --clr-cool-gray: #9ba0bc;
  --clr-thistle: #c1b8c8;
}

.App {
  min-height: 100vh;
  font-family: 'Fredoka One', cursive;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content 1fr;
  gap: 0.5rem;
  margin: 0 auto;
  background-color: var(--clr-thistle);
}

.header {
  display: flex;
  justify-content: center;
  font-size: 2.8rem;
  width: 100%;
  padding: 2rem 1rem 0 1rem;
  letter-spacing: 5px;
  color: var(--clr-tiffany-blue);
}
/* scoreboard styling */
.scoreboard-container {
  justify-self: center;
  display: flex;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
.scoreboard-container p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.2rem;
  margin: 0.2rem 0.5rem;
  background-color: var(--clr-stale-gray);
  border-radius: 100vmax;
  line-height: 1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* cards area styling */
.card-container {
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  max-width: 1390px;
  width: 100%;
  perspective: 2000px;
  padding: 0 1rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 224px;
  aspect-ratio: 1;
  background-color: var(--clr-cadet-gary);
  padding: 4%;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  letter-spacing: 2px;
  transform: scale(1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: transform 0.2s ease-in-out;
  will-change: transform;
}
@media (hover: hover) and (pointer: fine) {
  .card:hover,
  .card:focus-visible {
    transform: translateY(-1rem);
  }
}

.card::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url(./images/background-img.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  border: 0.25rem solid var(--clr-tiffany-blue);
  z-index: -1;
  transform: rotateY(0.5turn);
  backface-visibility: hidden;
}

.card img {
  object-fit: cover;
  object-position: top;
  border-radius: 0.8rem;
  width: 100%;
  aspect-ratio: 1 / 1.2;
}

.card p {
  line-height: 1;
  padding-top: 4%;
}
/* game over modal */
.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(0.5rem);
  z-index: 10;
}

.game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: max-content;
  height: max-content;
  padding: 1rem;
  background-color: var(--clr-cool-gray);
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: 0 0 22pt 5pt var(--clr-tiffany-blue);
}
.game-over h2 {
  font-size: 2.4rem;
}
.game-over p {
  font-size: 1.8rem;
  margin-bottom: auto;
  text-align: center;
}
.game-over img {
  width: 20rem;
  margin-bottom: 1rem;
}
.game-over button {
  cursor: pointer;
  width: 250px;
  font-size: 1.5rem;
  padding: 0.2rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--clr-cadet-gary);
  transition: transform 200ms ease-in, box-shadow 200ms ease-in;
}
.game-over button:hover,
.game-over button:focus-visible {
  outline: none;
  transform: translateY(-0.2rem);
  box-shadow: 0 0.25rem 0.25rem var(--clr-tiffany-blue);
}

/* footer styles */
.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  z-index: 0;
}

.footer-link {
  text-decoration: none;
  width: 250px;
  height: 70px;
  border-radius: 15px;
  background-color: transparent;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: 0.5s;
}

.footer-link svg {
  transition: 0.5s;
  width: 60px;
  height: 60px;
  color: var(--clr-tiffany-blue);
  position: absolute;
  top: 5px;
  right: 90px;
}

.footer-link p {
  color: var(--clr-tiffany-blue);
  opacity: 0;
  position: absolute;
  top: 0;
  letter-spacing: 1.5px;
  transition: 0.5s;
}

.footer-link:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.footer-link:hover p {
  font-size: larger;
  font-weight: bolder;
  top: 25px;
  opacity: 1;
}

.footer-link:hover svg {
  opacity: 0.2;
  top: 0px;
  right: 5px;
  height: 90px;
  width: 90px;
}
/* media query */

@media screen and (max-width: 1000px) {
  .header {
    letter-spacing: 0;
    font-size: 2.5rem;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
